body{
    background-color: rgb(235, 240, 240);
    align-items: center;
    text-align: center;
}
form{
    justify-content: center;
    align-items: center;
}
.col-md-12{
    padding: 10px;
}
textarea{
    resize: none;
}
.error{
    color: red;
    display: none;
}
.error-text{
    color: red;
}
#success{
    color: blue;
    display: none;
}