#heading-banner {
  height: 11vh;
  background-color: #F2FAFF;
  margin: auto;
}

.page-heading {
  height: 11vh;
}

#heading {
  font-size: 35px;
  text-align: center;
  margin: auto;
}

.homepage {
  background-image: url(../home-images/home_bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 75vh;
  background-repeat: no-repeat;
  color: white;
  width: 100vw;
  position: relative;
}

.rentbuy-cards {
  padding: 20vh;
}

.cards p h4 a {
  text-align: center;
}