*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Roboto', sans-serif;
}
/* header */
#heading-banner {
  height: 11vh;
  margin: auto;
}
.page-heading {  
  height: 11vh;
}

/* right container */
.rightHousesContainer{
  overflow-y: scroll;
  height:90vh;
  
  box-shadow: -3px 1px 7px 0px rgba(0,0,0,0.30);
-webkit-box-shadow: -3px 1px 7px 0px rgba(0,0,0,0.30);
-moz-box-shadow: -3px 1px 7px 0px rgba(0,0,0,0.30);

}

.leftImageContainerRent{
  background: url(/images/imageOnLeftRentPage.jpg);
 margin-left: -12px;
}
.leftImageContainerBuy{
  background: url(/images/imageOnLeftBuyPage.jpg);
  margin-left: -12px;
}
/* card */
#card{

  border-bottom: 4px solid blue;
}
#card img{
 height: 11rem;
  
}
#cardBody{
  height: 7.9rem;
}
#cardBody h1, p{
  line-height: 1;
}

/* MODAL STYLES */
.modal-body{
  line-height: 2.5;
  font-family: 'Roboto', sans-serif;
cursor: pointer;

}

.modal-image-container{
  overflow-y: scroll;
  height:100vh;
  

}


 .btn-close{
display: flex;
justify-content: end;
align-self: end;
}

